using DemoProject;
{{#newline}}{{#newline}}
[assembly:SourceHash(new byte[] { {{this.Hash.CommaDelim}} })]
{{#newline}}
[assembly:SourceHash("{{Hash.HexString}}")]
{{#newline}}
[assembly:SourceHash("{{Hash.Base64String}}")]